In [2]:
import pandas as pd
import pickle
import os
import sys
sys.path.append('..\\src')
import fsq_yelp_parsing

In [3]:
# UNPICKLE CITYBIKES DF
with open('../data/citybikes_filled_df.pickle', 'rb') as df:
    citybikes_df = pickle.load(df)

citybikes_df.head(5)

,name,id,timestamp,longitude,latitude,slots,free_bikes,empty_slots,has_ebikes,ebikes,payment,renting,returning
0,Harmon St at Adeline St,d0e8f4f1834b7b33a3faf8882f567ab8,2024-04-02T18:29:27.066000Z,-122.270582,37.849735,15,9,6,True,0,"[key, creditcard]",1,1
1,Fountain Alley at S 2nd St,983514094dd808b1604da2dcfc2d09af,2024-04-02T18:29:26.582000Z,-121.889277,37.336188,11,8,3,True,6,"[key, creditcard]",1,1
2,Oak St at 1st St,da17603652106fda93da4e255a5b0a22,2024-04-02T18:29:27.044000Z,-121.88109,37.322125,23,14,9,True,7,"[key, creditcard]",1,1
3,Bestor Art Park,7a21c92b3b4cd2f7759107b4fdebf869,2024-04-02T18:29:26.797000Z,-121.874119,37.323678,15,12,3,True,3,"[key, creditcard]",1,1
4,5th St at Virginia St,ce34d38fb230a23c1ced12d1e16df294,2024-04-02T18:29:26.971000Z,-121.87712,37.325998,27,19,7,True,12,"[key, creditcard]",1,1

In [4]:
# UNPICKLE FSQ DF 
with open('../data/fsq_places.pickle', 'rb') as df:
    fsq_df = pickle.load(df)

fsq_df.head(5)

,reference_bike_stn,fsq_id,fsq_cat_id,fsq_cat_name,lat,long,name,street_address,zip,city,distance_from_bike_stn
0,d0e8f4f1834b7b33a3faf8882f567ab8,4b3fc82cf964a520a1ae25e3,13303,Mexican Restaurant,37.850052,-122.270523,Las Palmas Super Burritos and Heros,3221 Adeline St,94703,Berkeley,33
1,d0e8f4f1834b7b33a3faf8882f567ab8,57da76a603a44d3f9b3ddd3b,10004,Art Gallery,37.849798,-122.271728,Firehouse Collective East/West Art Studios,1835 Harmon St,94703,Berkeley,100
2,d0e8f4f1834b7b33a3faf8882f567ab8,4b64bd80f964a52074cc2ae3,13064,Pizzeria,37.849316,-122.271629,Domino's Pizza,3264 Adeline St,94703,Berkeley,113
3,d0e8f4f1834b7b33a3faf8882f567ab8,4c12e9a51b5cef3b9cd7edc4,13102,Cantonese Restaurant,37.848703,-122.270660,Chen's Garden,1818 Alcatraz Ave,94703,Berkeley,119
4,d0e8f4f1834b7b33a3faf8882f567ab8,52fe4532498e80c8d231d768,13034,Café,37.850958,-122.271077,Rasa Caffe,3140 Martin Luther King Jr Way,94703,Berkeley,141

In [5]:
# UNPICKLE YELP DF 
with open('../data/yelp_df.pickle', 'rb') as df:
    yelp_df = pickle.load(df)

yelp_df.head(5)

,reference_bike_stn,yelp_id,yelp_cat_alias,lat,long,name,street_address,zip,city,price,rating,review_count,distance_from_bike_stn
0,d0e8f4f1834b7b33a3faf8882f567ab8,OjMumhyL26n5fDZ2CQLnyg,ethiopian,37.850301,-122.271266,Lemat,3212 Adeline St,94703,Berkeley,$$,4.4,239,87
1,d0e8f4f1834b7b33a3faf8882f567ab8,-EpmBwODsvQ6gHx2IuVO5w,cafes,37.850017,-122.270532,El Tiny Cafe,3219 Adeline St,94703,Berkeley,None,4.8,60,32
2,d0e8f4f1834b7b33a3faf8882f567ab8,shRP4Vxu2hDdmdsHf-5DmQ,burgers,37.848520,-122.260380,A+ Burger,6228 Telegraph Ave,94609,Oakland,$$,4.4,859,896
3,d0e8f4f1834b7b33a3faf8882f567ab8,pJdwr6JoCVXTKbdJlm-rdg,italian,37.850900,-122.278200,Creekwood,3121 Sacramento St,94702,Berkeley,$$,4.6,481,684
4,d0e8f4f1834b7b33a3faf8882f567ab8,nt46Amrqx5qwTyNEcO54ew,burgers,37.843820,-122.276750,Sideshow Kitchen,942 Stanford Ave,94608,Oakland,$$,4.4,496,854

In [ ]:
# combined_df = fsq_yelp_parsing.combine_yelp_fsq(fsq_df, yelp_df)

In [ ]:
# combined_df.info()

In [ ]:
# with open('../data/yelp_fsq_combined.pickle', 'wb') as df:
#     pickle.dump(combined_df, df)

In [6]:
# UNPICKLE COMBINED DF 
with open('../data/yelp_fsq_combined.pickle', 'rb') as df:
    combined_df = pickle.load(df)

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52992 entries, 0 to 52991
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   reference_bike_stn      52992 non-null  object
 1   fsq_id                  25677 non-null  object
 2   fsq_cat_id              25677 non-null  float64
 3   fsq_cat_name            25677 non-null  object
 4   lat                     52992 non-null  float64
 5   long                    52992 non-null  float64
 6   name                    52992 non-null  object
 7   street_address          51721 non-null  object
 8   zip                     52972 non-null  object
 9   city                    52992 non-null  object
 10  distance_from_bike_stn  52992 non-null  int64
 11  yelp_id                 27315 non-null  object
 12  yelp_cat_alias          27315 non-null  object
 13  price                   23520 non-null  object
 14  rating                  27315 non-null  float64
 15  review_count            27315 non-null  float64
dtypes: float64(5), int64(1), object(10)
memory usage: 6.5+ MB

In [7]:
combined_df.head(5)

,reference_bike_stn,fsq_id,fsq_cat_id,fsq_cat_name,lat,long,name,street_address,zip,city,distance_from_bike_stn,yelp_id,yelp_cat_alias,price,rating,review_count
0,d0e8f4f1834b7b33a3faf8882f567ab8,4b3fc82cf964a520a1ae25e3,13303.0,Mexican Restaurant,37.850052,-122.270523,Las Palmas Super Burritos and Heros,3221 Adeline St,94703,Berkeley,33,NaN,NaN,NaN,NaN,NaN
1,d0e8f4f1834b7b33a3faf8882f567ab8,57da76a603a44d3f9b3ddd3b,10004.0,Art Gallery,37.849798,-122.271728,Firehouse Collective East/West Art Studios,1835 Harmon St,94703,Berkeley,100,NaN,NaN,NaN,NaN,NaN
2,d0e8f4f1834b7b33a3faf8882f567ab8,4b64bd80f964a52074cc2ae3,13064.0,Pizzeria,37.849316,-122.271629,Domino's Pizza,3264 Adeline St,94703,Berkeley,113,NaN,NaN,NaN,NaN,NaN
3,d0e8f4f1834b7b33a3faf8882f567ab8,4c12e9a51b5cef3b9cd7edc4,13102.0,Cantonese Restaurant,37.848703,-122.270660,Chen's Garden,1818 Alcatraz Ave,94703,Berkeley,119,NaN,NaN,NaN,NaN,NaN
4,d0e8f4f1834b7b33a3faf8882f567ab8,52fe4532498e80c8d231d768,13034.0,Café,37.850958,-122.271077,Rasa Caffe,3140 Martin Luther King Jr Way,94703,Berkeley,141,NaN,NaN,NaN,NaN,NaN